<div class='form-row'>
    <div class='col-md-12 mb-12'>
        <label for='name'>Nazwa Produktu </label>
        <input type='text' name='name' class='form-control'
               id='name'
               required
               placeholder='Nazwa Produktu'
               value={{ product.name }}>
        <div class='valid-feedback'>Looks good!</div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-12">
        <label for="barcode">Kod Kreskowy</label>
        <input type="text" name="barcode" class="form-control" id="barcode" placeholder="Kod kreskowy"
               required
               value={{ product.barcode }}>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-12">
        <label for="quantity">Ilość</label>
        <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Ilość"
               required
               value={{ product.quantity }}>
        <div class="valid-feedback">Looks good!</div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-12">
        <label for="weight">Waga produktu</label>
        <input type="text" name="weight" class="form-control" id="weight" placeholder="Waga" required
               value={{ product.weight }}>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
</div>