php_flag session.use_trans_sid 0
Options +FollowSymLinks
RewriteEngine On

# site redirect to home
RewriteRule ^$                  home [L]
RewriteRule ^index.php?(.*)$    home [NC,L]

# home
RewriteRule ^home$  App/Controllers/Product/ProductController.php?l=en [L]