<IfModule mod_rewrite.c>
    RewriteEngine On
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteCond %{REQUEST_METHOD} !^(GET|HEAD|OPTIONS|POST|PROPFIND|PUT) [NC]
    DirectoryIndex index.php

    php_value include_path '.;C:\xampp\php\PEAR;D:\xampp\htdocs\magazyn'

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

RewriteRule ^([^.]*)$  index.php?args=$1 [L,QSA]
</IfModule>
