{% include('./inc/header.twig.html') %}
{% include('./inc/navbar.twig.html') %}

{{ yield }}
<ul id="navigation">
    {% for item in navigation %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>

<h1>My Webpage</h1>
{{ name }}
{% include('./inc/footer.twig.html') %}
